/* Home CSS Document */
body{
	background-color:#FAE6FA ;
}

*{
	margin:0;
	padding:0;
}

#slider{
	position:fixed;
	top:15%;
	margin-left:15%;
	margin-right:15%;
	z-index:-999;
}

#btn_lft{
	margin-left:6%;
}

#btn_rit{
	margin-left:90%;
}

.slide_btn{
	position:fixed;
	top:50%;
	width:5%;
	height:10%;
	z-index:-999;
}

#bd_con{
	position:absolute;
	top:100%;
	background-color:#FAE6FA;
	z-index:-998;
}

#information{
	
	font-size:100%;
	float:inherit;
	text-align:center;
	background-color:red;
	color:white;
}

#Structure{
	position:relative;
	width:74.5%;
	height:400px;
	float:left;
	border: 1px solid red;
}

#notice{
	position:relative;
	width:25%;
	height:400px;
	float:right;
	border: 1px solid red;
}

#pnpl_msg{
	position:relative;
	width:90%;
	margin:5%;
	z-index:-999;
}

#founder{
	position:relative;
	width:90%;
	margin:5%;
	border: 1px solid red;
}

#history{
	position:relative;
	width:90%;
	margin:5%;
	border: 1px solid red;
}
